[submodule "excons"]
	path = excons
	url = git@github.com:marza-animation-planet/excons.git
[submodule "libjpeg-turbo"]
	path = libjpeg-turbo
	url = git@github.com:marza-animation-planet/libjpeg-turbo.git
[submodule "Little-CMS"]
	path = Little-CMS
	url = git@github.com:marza-animation-planet/Little-CMS
